*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	background-color: #fff;
	color:black;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
.row{
	max-width: 1140px;
	margin: 0 auto 0 auto;
}

/*-------------------------------*/
/*Header*/
/*-------------------------------*/

header{
	background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://miro.medium.com/max/1440/0*xy4Ub1OpJXWABuE6);
	height:100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.hero-text-box{
	position: absolute;
	width:1140px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

h1{
	margin-top:0;
	margin-bottom: 20px;
	color:#fff;
	font-size: 240%;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
	animation: moveInLeft 1s ease-out;

}

@keyframes moveInLeft{
	0%{
		opacity: 0;
		transform: translateX(-100px);

	}

	/*60%{
		transform: rotate(120deg);
	}
	*/
	80%{
		transform: translateX(10px);
	}

	100%{
		opacity: 1;
		transform: translate(0);

	}
}




/*-------------------------------*/
/*Button*/
/*-------------------------------*/

.btn:link,
.btn:visited {
	display: inline-block;
	padding: 10px 30px; 
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s color 0.2s ;
}


.btn-full:link,
.btn-full:visited{
	background-color: #00b894;
	border: 1px solid #00b894 ;
	color:#fff;
	margin-right: 15px;

}



.btn-ghost:link,
.btn-ghost:visited{
	border: 1px solid #00b894 ;
	color:#00b894 ;
}



.btn:hover,
.btn:active{
	background-color: #004134;

}

.btn-full:hover,
.btn_full:active{
	border:1px solid #004134 ;
}

.btn-ghost:hover,
.btn_ghost:active{
	border:1px solid #004134 ;
	color:#fff;
}

@keyframes moveInBottom{
	0%{
		opacity: 0;
		transform: translateY(30px);

	}
	

	100%{
		opacity: 1;
		transform: translate(0);

	}
}

.btn-animate{
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;

}

.logo{
	height:65px;
	width:auto;
	float:left;
	margin-top: 20px;
	

}

.main-nav{
	float:right;
	list-style: none;
	margin-top: 55px;



}

.main-nav li{
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
	padding: 8px 0;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;

}
.main-nav li a:hover,
.main-nav li a:active{

	border-bottom: 2px solid #00b894; 
}




/*-------------------------------*/
/*Section-2*/
/*-------------------------------*/
section{
	padding: 80px 0;


}

h2{
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;

}

h2:after{
	display: block;
	height:2px;
	background-color: #00b894;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

.long-copy{
	line-height: 145%;
	width:70%;
	margin-left: 15%;

}

.bat{
	padding: 1%;
}

h3{
	font-weight: 300;
	text-transform: uppercase;
	font-size: 110%;
	margin-bottom: 15px;
}

.bat p{
	color:black;
	font-size: 75%;
	
	line-height: 145%;

}


	
.bat p{
  opacity:0.5;
}
.bat p:hover{
  opacity:1;
}


.icon-big{
	font-size: 350%;
	display: block;
	color: #00b894;
	margin-bottom: 10px;
}






/*-------------------------------*/
/*Section-3*/
/*-------------------------------*/
.services-features{
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

.services{
	background:white;
	text-align: center;
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}
.services h1{
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid #3498db;
	
	
	margin-top:40px;
	color: black;

	font-weight: 300;
	
	letter-spacing: 1px;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}
.cen{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.service{
	display: inline-block;
	width: calc(100% /3);
	margin: 0 -2px;
	padding: 20px;
	box-sizing: border-box;
	cursor:pointer;
	transition: 0.4s;
}


	
.service p{
  opacity:0.5;
}
.service p:hover{
  opacity:1;
}




.service i{
	font-size: 350%;
	display: block;
	color: #00b894;
	margin-bottom: 10px;
}

.service h3{

	margin-bottom: 10px;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 110%;
	margin-bottom: 15px;
}
.service p{
	color:black;
	font-size: 75%;
	
	line-height: 145%;
}





/*************************/
.headers{
	height: 100vh;
	background-image: linear-gradient(rgba(0, 48, 39,0.3), rgba(0, 48, 39,0.3)) ,url("C:/Users/ADITYA/Desktop/AI-Workshop-20/assets/images/Speaker.jpg");
	background-size: cover;
	background-position: top;
	
	position: relative;


}	




.text-box{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.heading-primary{
	color:#fff;
	text-transform: none;
	backface-visibility: hidden;
	margin-bottom: 60px; /*for preventing shaky transition*/
}
.heading-primary-main{
	display: inline-block;
	font-size: 20px;
	font-weight: 100;
	
	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
	margin-bottom: 20px;
	color:#b8fff1;
	margin-top: 20px;


	/*animation-iteration-count: 3;*/
	/*animation-delay:3s*/ 


}

.heading-primary-sub{
	display: block;
	font-size: 40px;
	font-weight: 400;
	
	animation: moveInRight 1s ease-out;

	
	text-transform: uppercase;
	letter-spacing: 1px;
	
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;


	
}
.heading-primary-sub:after{
	display: block;
	height:2px;
	background-color: #00b894;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}
/*animation*/
@keyframes moveInLeft{
	0%{
		opacity: 0;
		transform: translateX(-10rem);

	}

	/*60%{
		transform: rotate(120deg);
	}
	*/
	80%{
		transform: translateX(1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);

	}
}

@keyframes moveInRight{
	0%{
		opacity: 0;
		transform: translateX(10rem);

	}
	80%{
		transform: translateX(-1rem);
	}

	100%{
		opacity: 1;
		transform: translate(0);

	}
}


/*button*/
.btns:link,
.btns:visited{
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all 0.2s;
	position: relative;
	font-size: 16px;



}

.btns-white{
	background-color: #fff;
	color: #777;
}

.btns:hover{
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.btns:active{
	transform: translateY(-1px);
	box-shadow: 0 5px 10rem rgba(0,0,0,0.2);
}

.btns::after{
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 0.4s;

}
.btns-white::after{
	background-color: #fff;
}
.btns:hover::after{
	transform: scaleX(1.4) scaleY(1.6);
	opacity: 0;

}

@keyframes moveInBottom{
	0%{
		opacity: 0;
		transform: translateY(30px);

	}
	

	100%{
		opacity: 1;
		transform: translate(0);

	}
}

.btns-animated{
	animation: moveInBottom 0.5s ease-out 0.75s;
	animation-fill-mode: backwards;

}















